<div class="container">
  <h1 class="mt-5">Realizar la consigna debajo de este mensaje</h1>
</div>

<!-- Html faltante -->
<div class="mb-3">
  <input
    type="text"
    placeholder="Search by title"
    [(ngModel)]="searchString"
    class="ml-4"
  />
  <button class="btn btn-primary ml-4" (click)="search()">Search</button>
</div>

<div *ngIf="validationMessage" class="alert alert-warning">
  {{ validationMessage }}
</div>

<div class="container mt-4">
  <h2>Todo List</h2>
  <ul class="list-group">
    <li class="list-group-item mb-3" *ngFor="let todo of filteredTodos">
      <h5>{{ todo.title }}</h5>
      <p>User ID: {{ todo.userId }}</p>
      <p>ID: {{ todo.id }}</p>
      <p>Status: {{ todo.completed ? 'Completed' : 'Pending' }}</p>
    </li>
  </ul>
  <div *ngIf="filteredTodos.length === 0">
    <p>No todos match your search criteria.</p>
  </div>
</div>
